.scrollable::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.scrollable::-webkit-scrollbar-track {
  background: #1f1e1e;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollable::-webkit-scrollbar-corner {
  background: #ccc;
}


.mainBox {
  display: flex;
  margin-bottom: 10px;
  align-items: top;
  justify-content: flex-start;
  gap: 20px;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.halfContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.halfContentRight {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 10px;
  padding: 6px 17px 17px 17px;
}